@charset "UTF-8";
@font-face {
  font-family: 'iconfont';
  /* project id 1066588 */
  src: url("//at.alicdn.com/t/font_1066588_dxq7an0lw1g.eot");
  src: url("//at.alicdn.com/t/font_1066588_dxq7an0lw1g.eot?#iefix") format("embedded-opentype"), url("//at.alicdn.com/t/font_1066588_dxq7an0lw1g.woff2") format("woff2"), url("//at.alicdn.com/t/font_1066588_dxq7an0lw1g.woff") format("woff"), url("//at.alicdn.com/t/font_1066588_dxq7an0lw1g.ttf") format("truetype"), url("//at.alicdn.com/t/font_1066588_dxq7an0lw1g.svg#iconfont") format("svg"); }
/*引入配置*/
/*=========================Reset_start==========================*/
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale; }

body,
h1,
h2,
h3,
h4,
h5,
h6,
div,
p,
dl,
dt,
dd,
ol,
ul,
li,
form,
table,
th,
td,
a,
img,
span,
strong,
var,
em,
input,
textarea,
select,
option {
  margin: 0;
  padding: 0; }

/*html,body{font-family:"微软雅黑"; font-size: 12px; text-align: left;}*/
html,
body {
  font-size: 12px;
  text-align: left;
  font-weight: 400;
  font-family: "PingFang SC", "PingFangSC-Regular", "微软雅黑", 'San Francisco Display';
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

ul,
ol {
  list-style: none; }

img {
  border: 0; }

.max-box {
  width: 100%;
  height: 100%; }

/*************iconfont图标******************/
.icon_style {
  opacity: .1 !important; }
  :host-context([data-theme-style='Light']) .icon_style {
    color: #121932 !important; }
  :host-context([data-theme-style="Dark"]) .icon_style {
    color: #fff !important; }

.icon_style:hover {
  opacity: .4 !important; }

/*************确认按钮******************/
.f-confirm {
  background: #4181ff !important; }

.f-confirm:hover {
  background: #1E5ED9 !important; }

/*************语义按钮(detail,cancel,deposit,withdraw)******************/
.f-semantic-btn {
  color: #4F6CFF !important; }

.f-semantic-btn:hover {
  color: #1E5ED9 !important; }

/*************主题opacity值******************/
.f-opacity {
  opacity: .8 !important; }

.f-opacity-c {
  opacity: .6 !important; }

.f-opacity-t {
  opacity: .3 !important; }

.f-opacity-f {
  opacity: .5 !important; }

.f-opacity-w {
  opacity: 1 !important; }

/*input,select,textarea{outline:0;}*/
textarea {
  resize: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

th,
strong,
var,
em {
  font-weight: normal;
  font-style: normal; }

/*a:link,a:visited,a:hover,a:active{text-decoration:none;} */
.dis-none {
  display: none; }

.f-center {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }

.f-center-x {
  position: relative;
  left: 50%;
  transform: translateX(-50%); }

.f-center-y {
  position: relative;
  top: 50%;
  transform: translateY(-50%); }

.disable {
  pointer-events: none; }

/*==========================Reset_End===========================*/
.f-fl {
  float: left; }

.f-fr {
  float: right; }

.f-input {
  outline: none; }

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently  not supported by any browser */ }

.not-click {
  pointer-events: none; }

.f-tal {
  text-align: left; }

.f-tac {
  text-align: center; }

.f-tar {
  text-align: right; }

.f-fwb {
  font-weight: bold; }

.f-text-left {
  text-align: left !important; }

.f-text-center {
  text-align: center; }

.f-text-right {
  text-align: right; }

.f-fontw1 {
  font-weight: 100 !important; }

.f-fontw2 {
  font-weight: 200 !important; }

.f-fontw3 {
  font-weight: 300 !important; }

.f-fontw4 {
  font-weight: 400 !important; }

.f-fontw5 {
  font-weight: 600 !important; }

.f-fontw6 {
  font-weight: 600 !important; }

.f-fontw7 {
  font-weight: 700 !important; }

.f-fontw8 {
  font-weight: 800 !important; }

/***********font************8*/
.font14 {
  font-size: 14px; }

/***********按钮点击清除样式**************/
button {
  outline-style: none; }

.href-link {
  color: #004EFF !important; }

/********清除浮动**********/
.qcfd:after {
  display: block;
  clear: both;
  content: "";
  visibility: hidden;
  height: 0; }

/********取消缩进**********/
.f-indent {
  text-indent: 0; }

/********鼠标**********/
.f-cursor {
  cursor: pointer; }

.f-cursor-not {
  cursor: not-allowed; }

.bor {
  border: 1px solid #d9d9d9; }

.bor:focus {
  outline: none;
  border: #87C6F9 1px solid;
  box-shadow: 0 0 12px #2799f5; }

div:focus {
  outline: none;
  border: none;
  box-shadow: none; }

input {
  background: none;
  border: none;
  outline: none !important; }

input:focus {
  border-width: 2px;
  border-bottom-color: #4F6CFF;
  box-shadow: 0 0 0px #67a6d9; }

/************ style reset end *******************/
/*input:focus{*/
/*border-color:#e8e8e8;*/
/*}*/
/*******input框设置placeholder颜色、字体大小*********/
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  opacity: .3; }
  :host-context([data-theme-style='Light']) :-moz-placeholder {
    color: #121932 !important; }
  :host-context([data-theme-style="Dark"]) :-moz-placeholder {
    color: #fff !important; }

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  opacity: .3; }
  :host-context([data-theme-style='Light']) ::-moz-placeholder {
    color: #121932 !important; }
  :host-context([data-theme-style="Dark"]) ::-moz-placeholder {
    color: #fff !important; }

input:-ms-input-placeholder {
  opacity: .3; }
  :host-context([data-theme-style='Light']) input:-ms-input-placeholder {
    color: #121932 !important; }
  :host-context([data-theme-style="Dark"]) input:-ms-input-placeholder {
    color: #fff !important; }

input::-webkit-input-placeholder {
  opacity: .3; }
  :host-context([data-theme-style='Light']) input::-webkit-input-placeholder {
    color: #121932 !important; }
  :host-context([data-theme-style="Dark"]) input::-webkit-input-placeholder {
    color: #fff !important; }

.border-bottom {
  border-bottom: 1px solid #000; }

.border-box {
  box-sizing: border-box; }

.content-box {
  box-sizing: content-box; }

/************ style reset end *******************/
.f-pre {
  overflow: hidden;
  text-align: left;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all; }

/******消失******/
.f-dis {
  display: none; }

.els-two {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  box-orient: vertical;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; }

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.text-underline {
  text-decoration: underline; }

/************ style reset end *******************/
::-webkit-scrollbar, ::-webkit-scrollbar-track {
  background-color: transparent; }

::-webkit-scrollbar-thumb, ::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: rgba(127, 143, 164, 0.4); }

::-webkit-scrollbar {
  width: 5px;
  height: 5px; }

::-webkit-scrollbar, ::-webkit-scrollbar-track {
  background-color: transparent; }

::-webkit-scrollbar-track {
  opacity: 0;
  border-radius: 10px; }

::-webkit-scrollbar-thumb {
  border-radius: 4px; }

/************ style reset end *******************/
.dis-tip-s {
  position: absolute;
  background: #3a4980;
  line-height: 16px;
  font-size: 12px;
  z-index: 999999999;
  border-radius: 5px;
  padding: 2px 10px;
  max-width: 200px;
  text-align: center;
  min-width: 160px;
  color: #a0c3eb; }

/************ style reset end *******************/
.content {
  width: 1280px;
  margin: 0 auto; }

.content-center {
  width: 1002px;
  margin: 0 auto; }

/************ style reset end *******************/
.Dark .auth-input:-webkit-autofill {
  caret-color: #3075ee;
  border: none;
  -webkit-box-shadow: 0 0 0 30px #1c2539 inset;
  -webkit-text-fill-color: #fff !important; }

.Light .auth-input:-webkit-autofill {
  caret-color: #3075ee;
  border: none;
  -webkit-box-shadow: 0 0 0 30px white inset;
  -webkit-text-fill-color: #4c5264 !important; }

/************ style reset end *******************/
/************ style reset end *******************/
input[type='checkbox'], input[type='radio'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance:  none;
  -o-appearance:  none;
  appearance:  none;
  width: 16px;
  height: 16px;
  background: #fff;
  border: 1px solid #AAB2C0;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  position: relative;
  margin: 0 .5rem; }

.drak input[type='checkbox']:checked, .drak input[type='radio']:checked {
  background: url(./assets/icon/checked.png) no-repeat center;
  background-size: 100% auto;
  border: 1px solid #00CEFF; }

.light input[type='checkbox']:checked, .light input[type='radio']:checked {
  background: url(./assets/icon/checked-light.png) no-repeat center;
  background-size: 100% auto;
  border: none; }

.bg-zhan {
  background: url(./assets/images/zhan.png) no-repeat;
  background-size: 100% 100%; }

/**
 *  自定义动画
 */
.fadeInT {
  animation: fadeInT 500ms; }

.fadeOutF {
  animation: fadeOutF 500ms; }

@keyframes fadeInT {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fadeOutF {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
.fadeIns {
  animation: fadeIns 800ms forwards; }

@keyframes fadeIns {
  0% {
    top: -131px;
    opacity: 0; }
  100% {
    top: 110px;
    opacity: 1; } }
@keyframes alertTip {
  0% {
    top: -100px; }
  10% {
    top: 60px; }
  90% {
    top: 60px; }
  100% {
    top: -100px; } }
.fadeIn {
  animation: fadeIn 300ms; }

.fadeOut {
  animation: fadeOut 300ms; }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
.f-enterTxtFocus .f-up-title {
  bottom: 36px !important;
  left: 0px !important;
  transition: all .3s; }

@keyframes t {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

/*# sourceMappingURL=reset.css.map */
